DXC Python Notebook

In [9]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp39-cp39-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\mpahang\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.22.2)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.1.0 in c:\users\mpahang\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 sklearn-0.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\mpahang\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [13]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import os.path

In [14]:
# Check if the files do really exist
files = ["AdvWorksCusts.csv", "AW_BikeBuyer.csv", "AW_test.csv"];
exist = [f for f in files if os.path.isfile(f)];
non_exist = list(set(exist) ^ set(files))

print("All files exist: %s" % exist)
print("Files that does not exist: %s" % non_exist)

# Importing libraries and Datasets
df1 = pd.read_csv('AdvWorksCusts.csv')
df2 = pd.read_csv('AW_BikeBuyer.csv')
test = pd.read_csv('AW_test.csv')

All files exist: ['AdvWorksCusts.csv', 'AW_BikeBuyer.csv', 'AW_test.csv']
All files does not exist: []

In [ ]:
df1.head()

In [ ]:
df1.rank()

In [ ]:
# Filtering
df_sub = df1[df1['YearlyIncome'] > 1000]

In [ ]:
# Select rows by their labels
df_sub.loc[10:20,['CustomerID','City','Gender']]

In [48]:
# Merge based on CustomerID
df = pd.merge(df1, df2, on='CustomerID')

In [49]:
df.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'BikeBuyer'],
      dtype='object')

In [ ]:
# Check data type of the columns
df.dtypes

In [52]:
df.tail()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer
16744,29478,NaN,Darren,D,Carlson,NaN,5240 Premier Pl.,NaN,Stoke-on-Trent,England,...,Graduate Degree,Clerical,M,S,1,0,0,3,45986,0
16745,29479,NaN,Tommy,L,Tang,NaN,"111, rue Maillard",NaN,Versailles,Yveline,...,Graduate Degree,Clerical,M,M,1,0,0,1,80049,0
16746,29480,NaN,Nina,W,Raji,NaN,9 Katherine Drive,NaN,London,England,...,Graduate Degree,Clerical,F,S,1,0,0,3,60417,1
16747,29481,NaN,Ivan,NaN,Suri,NaN,Knaackstr 4,NaN,Hof,Bayern,...,Graduate Degree,Clerical,M,S,0,0,0,3,66653,0
16748,29482,NaN,Clayton,NaN,Zhang,NaN,"1080, quai de Grenelle",NaN,Saint Ouen,Charente-Maritime,...,Bachelors,Clerical,M,M,1,0,0,3,59736,0